*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.propos{
    display: flex;
    gap: 10px
    ;
    background-color: rgb(149, 158, 167);
   
    margin:auto;
    box-shadow: 0 0 0 0 black;
    padding: 10px;
}
p{
    color: black;
    font-size: 1.3rem;
}
.ligne-droite{
    padding: 0 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.face{
    height: 32px;
    width: 32px;
}
.p6{
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
}
footer{
    background-color: rgba(0, 0, 0, 0.74);
    display: block;
    justify-content: space-around;
}
.foot{
    margin: 20px 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}
.p7{
    padding: 10px;
    text-align: center;
    font-size: 2.3rem;
    color: #FCD116;

}












@media screen and (max-width:900px) {
  .rapide{
    flex-direction: column;
    align-content: center;
  }
  .ipad-image{
    flex-direction: column;
    display: block;
    align-content: center;
  }
  .foot{
    flex-direction: column;
    width: 70%;
    gap: 30px;
    margin: auto;
  }
  h3{
    width: 70%;
    flex-direction: column;
    margin: 20px auto;
    font-size: 2rem;
    

  }
  .tv{
    flex-direction: column;
    width: 30%;
    margin: 30px auto;
    gap: 20px;
    align-content: center;
    align-items: center;
  }
}
