*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
   background-color: rgba(28, 28, 29, 0.651);
}
h1 , h2, h3{
  text-align: center;
  color: #FCD116;
  font-weight: 900;
  padding: 10px auto;
  display: block;
}
ul{
  display: flex;
  justify-content: right;
   font-size: 1rem;
}
li{
  color: white;
  padding: 50px auto;
  font-size: 1rem;
}

span{
  color: #FCD116;
}

.propos{
    gap: 10px;
    margin:auto;
    box-shadow: 0 0 0 0 black;
    padding: 10px;
}
p{
    color: rgb(252, 249, 249);
    font-size: 1.3rem;
    font-weight: 700;
}
.ligne-droite{
    padding: 0 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
img{
  height: 200px;
}
.face{
    height: 32px;
    width: 32px;
}
.p6{
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
}
footer{
    background-color: rgba(0, 0, 0, 0.74);
    display: block;
    justify-content: space-around;
}
.foot{
    margin: 20px 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}
.p7{
    padding: 10px;
    text-align: center;
    font-size: 2.3rem;
    color: #FCD116;

}
@media screen and (max-width:900px) {
  h1{
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .rapide{
    flex-direction: column;
    align-content: center;
  }
  .ipad-image{
    flex-direction: column;
    display: block;
    align-content: center;
  }
  .foot{
    flex-direction: column;
    text-align: center;
    width: 70%;
    gap: 30px;
    margin: auto;
  }
  h3{
    width: 70%;
    flex-direction: column;
    margin: 20px auto;
    font-size: 2rem;
  }
  h2{
    padding: 10px auto;
  }
  .tv{
    flex-direction: column;
    width: 30%;
    margin: 30px auto;
    gap: 20px;
    align-content: center;
    align-items: center;
  }
}
