*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation {
    background-color: rgb(0 0 0 / .74);
    height: auto;
}
.div-nav {
    display: flex
;
    justify-content: space-around;
    width: 100%;
    height: auto;
    align-items: center;
}
nav {
    color: #fff;
    display: flex
;
}
nav>ul {
    display: flex
;
    width: max-content;
    margin: 0 auto;
}

ul {
    list-style: none;
}
.div-nav ul li {
    display: flex
;
    align-items: center;
    width: 230px;
    justify-content: space-around;
    list-style-type: none;
    transition: all 0.5s ease-in-out;
}
.ctp{
        background-color: #2a2a2a;
        display: flex;
        justify-content: space-between;
        align-items: center;
            padding: 8px;

    }
    nav ul li a {
    width: 260px;
    padding: 10px 0;
    text-align: center;
    color: white;
}
ul li{
  width: 260px;
  text-align: center;
}
.search {
    background-color: #fcd116;
    border: 1px solid #fff;
    margin-right: 100px;
}
.Itn {
    height: 30px;
}
.div-nav ul li {
    width: 280px;
    list-style-type: none;
    padding: 5px 40px;
    transition: .5s ease-in-out;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 900;
}
input{
    margin-bottom: 10px;
}
select{
    margin-bottom: 10px;

}
p{
    color: white;
    font-size: 1rem;
    font-weight: 900;
}


.div-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    gap: 20px;
}
.img-laptop{
    display: flex;
    align-items: center;
    gap: 8px
    ;
}
.div-2{
    display: flex;
    align-items: center;
     gap: 8px
    ;
}
.img-houre{
    display: flex;
    align-items: center;
     gap: 8px
    ;
}
.button:hover{
    color: white;
    transition: 1s ease all;
    background-color: #fcd216e0;
}

.button{
    transition: 0.6s;
    color: black;
    border-radius: 10px;
    padding: 10px 7px;
    background-color: #FCD116;
}
.div1-1 h4{
    font-size: 1.1rem;
}

.ingenieur{
    background-image: url(./travailleur-remplissant-le-refrigerant-du-systeme-hvac.jpg);
    background-position: center;
    background-size:cover;
   height: 450px;    
}
.employer{
    align-items: center;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.stake{
    height: 80px;
    width: 80px;
} 
.stake{
    transition: transform 0.6s;
}
.stake:hover{
    transform: scale(1.4);

}
.face{
    transition: transform0.6s ;
}
.face:hover{
    transform: scale(1.4);
}
.form{  
    padding: 20px;
    margin: 30px auto;
    border: 1px solid black;
    background-color: #47bbe7;
    border-radius: 15px;
    width: 70%;    
}


.ipt{
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    
}
.smt{
    width: 100%;
    border-radius: 10px;
    background-color: #FCD116;

    padding: 10px 0;
    transition: 0.6s;
}
.smt:hover{
    background-color: #FCD116;
    color: white;
    transform: translateY(5px);
}
footer{
    background-color: rgba(0, 0, 0, 0.74);
    display: block;
    justify-content: space-around;
}
.foot{
    display: flex;
    justify-content: space-around;
}
.face{
    height: 32px;
    width: 32px;
}
.contact{
    text-align: center;
    flex-direction: column;
}
h3{
    color: #FCD116;
    margin-bottom: 8px;
    font-style: 1.5rem;
}
.p7{
    color: #FCD116;
    padding: 10px;
    font-size: 1.5rem;
}
h2{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 20px;
    color: #FCD116;
}
.p6 {
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
     color: #FCD116;
}
p {
    font-size: 1rem;
    text-align: center;
    color: white;
}
.ligne-droite {
    padding: 0 30px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.p1{
    text-align: center;
    font-size: 1.3rem;;
    color: black;
}
.lap,.call{
  height: 50px;
}
.p19{
    color: #f7f4f4;
    font-size: 2.3rem;
    text-align: center;
}

.p20{
    color: black;
    font-size: 1.2rem;
}
.deplace{
    padding-top: 90px;
    text-align: center;
   
}
.taille{
    font-size: 3rem;
}
@media screen and (max-width:450px){
    .button{
        padding: 5px;
    }
}

@media screen and (max-width:850px){
    .ligne-droite {
    padding: 0 30px;
    margin: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
    .ctp,.ctp ul{flex-direction:column;align-items:center;background-color:rgb(0 0 0 / .295);height:auto;padding:10px;gap:20px}
    .search{
        margin: auto;
    }
    .foot {
        flex-direction: column;
        width: 70%;
        gap: 30px;
        margin: auto;
        text-align: center;
    }

        
    .button{
        padding: 5px;
        
    }
    .button a{
        font-size: 0.8rem;
    }
    
    h3{
        text-align: center;
        padding: 10px;
    }
    p{
        text-align: center;
    }
    h4{
        display: none;
    }
    .employer{
        flex-direction: column;
        gap: 20px;
    }
    
    
}