.date,.ipt{padding:10px 5px}.date,select{width:100%;margin-bottom:10px;border-radius:10px}.content-form,.date,.ipt,select{border-radius:10px}.content-form,footer{justify-content:space-around}.contact-form,.content-form{box-shadow:1px -2px 9px 0 #000}.foot,.technicien,ul{display:flex}.p7,.technicien,h1,h3{text-align:center}*{margin:0;padding:0;box-sizing:border-box}main{padding:20px;background-color:rgba(0,0,0,.432)}.ipt{width:100%}.content-form,h1{margin:30px auto}select{padding:10px 0}.para{font-size:1.2rem}.p3,h3{font-size:1.6rem}.content-form{background:beige;padding:40px;display:flex;width:80%}.contact-form{border:1px solid #000;border-radius:10px;padding:20px;width:50%}.btn{padding:10px 0;width:100%}.btn{border-radius:10px}.btn:hover{background-color:#fcd116;transition:1s;color:#fff}.technicien{background-image:url(./male-technician-examining-mother-board-with-digital-multimeter.jpg);background-size:cover;background-position:center;height:400px}.nav-content{gap:50px;margin:auto}.nav-content ul li{display:block;padding:2px;background-color:#fff}ul{justify-content:center;padding:20px}li a{text-decoration:none;word-spacing:10px;}.active{color:red}h3{color:#fcd116;padding-bottom:20px}.p3{color:#ff0808}.p15,h1{color:#fff}h1{box-shadow:0 2px 18px 10px beige;font-weight:700;font-size:3.4rem;width:70%}.p15{font-size:1.5rem}footer{background-color:rgba(0,0,0,.74);display:block}.foot{margin:20px 0;padding:30px 0;justify-content:space-around}.p7{font-size:1.5rem;color:#fcd116}.ligne-droite{padding:0 30px;border-left:1px solid #fff;border-right:1px solid #fff}.face{height:32px;width:32px}.p6{font-size:1.5rem;padding-bottom:10px;color:#fcd116}.p7{padding:20px 0}

li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.t a{
    font-size: 2.4rem;
}
.div-nav, .div-nav ul {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    text-align: center;
}
.div-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Itn {
    height: 30px;
}
nav ul li a {
    width: 260px;
    padding: 10px 0;
    text-align: center;
    color: white;
}
ul li{
  width: 260px;
}
ul{
    list-style: none;
}
.search {
    background-color: #fcd116;
    border: 1px solid #fff;
    margin-right: 100px;
    padding: 5px;
}
.cfm{
    width: 30%;
}
.p10, .p9 {
    color: #262b3c;
    font-size: 1.5rem;
}

.div-content{
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}
.img-laptop,.div-2,.img-houre{
    display: flex;
    align-items: center;
    gap: 7px;
}
.p15 a{
    text-decoration: none;
    color: white;
}
.button {
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #fcd116;
}
.button:hover {
    background-color: blue;
    color: white;
    transition: 1s ease all;
    
}
.h ,.t,.ul li a{
    color: blue;
    width: 200px;
}
.call{
    height: 50px;
}

@media screen and (max-width:850px){
    .div-nav,.div-nav ul{flex-direction:column;align-items:center;background-color:rgba(0,0,0,.295);height:auto;padding:10px;gap:20px}
  .search{margin:auto}
    .div1-1,.img-phone,.info-heure{
        display: none;
    }
    .ingenieur{background-image:url(./vecteezy_engineers-use-blueprint-check-air-condition-systems-on-site_21865574.JPG);background-size:cover;background-position:center;height:100vh}
.foot{flex-direction:column;width:70%;gap:30px}

.cfm,.contact-form{width:100%}.content-form{flex-direction:column;gap:50px;width:100%}.ipad-image,.rapide{flex-direction:column;align-content:center}.ipad-image{display:block}.foot,h3{flex-direction:column;margin:auto}.foot{text-align:center;width:70%;gap:30px}.tv{flex-direction:column;width:30%;margin:30px auto;gap:20px;align-content:center;align-items:center}}